<div class="dashboard__sidebar scroll-bar-1">


    <div class="sidebar -dashboard">

        @* <div class="sidebar__item">
            <a href="#" class="d-flex items-center text-16 lh-1 fw-500 -dark-text-white">
                <i class="text-20 icon-discovery ml-15"></i>
                @User.Claims.First(x=> x.Type == "UserFullName").Value پنل کاربری
            </a>
        </div> *@

        <div class="sidebar__item @(ViewBag.ActivePage == "UserCourses" ? " -is-active -dark-bg-dark-2" : "")">
            <a asp-action="UserCourses" asp-area="" asp-controller="UserProfile" class="d-flex items-center text-16 lh-1 fw-500 ">
                <i class="text-20 icon-play-button ml-15"></i>
                دوره های خریداری شده
            </a>
        </div>

        <div class="sidebar__item">
            <a asp-action="UserSetting" asp-area="" asp-controller="UserProfile" class="d-flex items-center text-16 lh-1 fw-500 ">
                <i class="text-20 icon-setting ml-15"></i>
                اطلاعات کاربری
            </a>
        </div>

        <div class="sidebar__item ">
            <a href="javascript:void(0)" data-url="@Url.Action("SignOut","Account")" class="d-flex items-center text-16 lh-1 fw-500 signOut">
                <i class="text-20 icon-power ml-15"></i>
                خروج
            </a>
        </div>

    </div>
</div>