@{
    Layout = "_UserProfileLayout";
}
@{
    ViewData["Title"] = "پنل کاربری";
}
<div class="dashboard -home-9 js-dashboard-home-9">
    <div style="display:flex">
        <img src="~/Content/Images/Profile.png" style="margin:auto;height:70vh;aspect-ratio:1.5/1"/>
    </div>
</div>