<section class="gray pt-5">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-3 col-md-3">
                <div class="dashboard-navbar">

                    <div class="d-user-avater">
                        <img src="TemplateAssets/img/user-3.jpg" class="img-fluid avater" alt="">
                        <h4>حسام موسوی</h4>
                        <span>تهران، کرج</span>
                    </div>

                    <div class="d-navigation">
                        <ul id="side-menu">
                            <li><a href="saved-courses.html"><i class="ti-heart"></i>مورد علاقه ها</a></li>
                            <li><a href="my-order.html"><i class="ti-shopping-cart"></i>دوره های خریداری شده</a></li>
                            <li><a href="settings.html"><i class="ti-settings"></i>تنظیمات</a></li>
                        </ul>
                    </div>

                </div>


            </div>

            <div class="col-lg-9 col-md-9 col-sm-12">

                <div class="container">
                    <details class="accordion">
                        <summary class="accordion-header">
                            <div class="accordion-header-content">
                                <span class="accordion-header-content-label">Label</span>
                                <h2 class="accordion-header-content-title">Title ipsum dolor</h2>
                            </div>
                        </summary>
                        <div class="accordion-content">
                            <p class="accordion-content-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis modi laboriosam inventore accusamus,iste animi sit praesentium id consequatur itaque quidem corrupti fuga earum vel delectus. Perferendis aspernatur modi consequuntur.
                            </p>
                        </div>
                    </details>
                </div>
            </div>

        </div>

    </div>
</section>