@model FallLady.Mood.Application.Contract.Dto.Users.UserUpdateDto
@{
    ViewData["Title"] = "اطلاعات کاربری";
    Layout = "_UserProfileLayout";
}
<div class="row pb-50 mb-10">
    <div class="col-auto">

        <h1 class="text-24 lh-12 fw-700 ff-estedad">تنظیمات</h1>
        <div class="mt-10">با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</div>

    </div>
</div>


<div class="row y-gap-30">
    <div class="col-12">
        <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
            <div class="tabs -active-purple-2 js-tabs pt-0">
                <div class="tabs__controls d-flex x-gap-30 items-center pt-20 px-30 border-bottom-light js-tabs-controls">
                    <button class="tabs__button text-light-1 js-tabs-button text-nowrap is-active" data-tab-target=".-tab-item-1" type="button">
                        ویرایش پروفایل
                    </button>
                    <button class="tabs__button text-light-1 js-tabs-button text-nowrap" data-tab-target=".-tab-item-2" type="button">
                        رمزعبور
                    </button>
                </div>

                <div class="tabs__content py-30 px-30 js-tabs-content">
                    <div class="tabs__pane -tab-item-1 is-active">

                        <div class="border-top-light pt-30 mt-30">
                            <form action="#" class="contact-form row y-gap-30">

                                <div class="col-md-6">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">نام</label>

                                    <input type="text" placeholder="نازنین">
                                </div>


                                <div class="col-md-6">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">نام خانوادگی</label>

                                    <input type="text" placeholder="نصیری">
                                </div>


                                <div class="col-md-6">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">شماره تماس</label>

                                    <input type="text" placeholder="09308888888">
                                </div>


                                <div class="col-md-6">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">تاریخ تولد</label>

                                    <input type="text" placeholder="1372/04/08">
                                </div>


                                <div class="col-md-6">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">آدرس اول</label>

                                    <input type="text" placeholder="خیابان ولیعصر کوچه بزرگمهر">
                                </div>


                                <div class="col-md-6">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">آدرس دوم</label>

                                    <input type="text" placeholder="میدان فردوسی جنب پمپ بنزین">
                                </div>


                                <div class="col-md-6">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">کشور</label>

                                    <input type="text" placeholder="ایران">
                                </div>


                                <div class="col-md-6">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">شهرستان</label>

                                    <input type="text" placeholder="تهران">
                                </div>


                                <div class="col-12">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">درباره من</label>

                                    <textarea placeholder="توضیحات...." rows="7"></textarea>
                                </div>


                                <div class="col-12">
                                    <button class="button -md -purple-1 text-white">ذخیره</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="tabs__pane -tab-item-2">
                        <form action="#" class="contact-form row y-gap-30">

                            <div class="col-md-7">

                                <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">رمز عبور فعلی</label>

                                <input type="text" placeholder="*********">
                            </div>


                            <div class="col-md-7">

                                <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">رمز جدید</label>

                                <input type="text" placeholder="*********">
                            </div>


                            <div class="col-md-7">

                                <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">تایید رمز جدید</label>

                                <input type="text" placeholder="*********">
                            </div>

                            <div class="col-12">
                                <button class="button -md -purple-1 text-white">ذخیره</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>

        $(document).on("click", ".btn-userSetting", function (e) {
            var $btnSave;
            $btnSave = $(this);
            var form = $btnSave.closest("form");
            if (form.valid()) {
                $btnSave.prop("disabled", true);
                $.ajax({
                    url: $btnSave.data("url"),
                    method: "POST",
                    data: new FormData(form.get(0)),
                    processData: false,
                    contentType: false,
                    cache: false
                }).done(function (data, textStatus, jqXHR) {
                    var _ref3;
                    autoDestroyToastr();
                    if (data.resultStatus !== 1 && data.resultStatus !== -2) {
                        toastr["error"]((_ref3 = data.message) != null ? _ref3 : resource.exception.saveError);
                        return;
                    }
                    toastr["success"](resource.message.saveSuccess);

                }).fail(function (msg) {
                    autoDestroyToastr();
                    content = msg.status === 403 ? msg.statusText : "Error";
                    if (content === "Error") {
                        toastr["error"](resource.exception.addError);
                        return;
                    }
                    if (content === "Forbidden") {
                        toastr["error"](resource.exception.addForbidden);
                        return;
                    }
                }).always(function () {
                    $btnSave.prop("disabled", false);
                    manuallyDestroyToastr();
                });
            } else {
                window.gotoErrorModal();
            }
        });
    </script>
}