@using FallLady.Mood.Application.Contract.Dto.Users;
@model FallLady.Mood.Application.Contract.Dto.Users.UserUpdateDto
@{
    ViewData["Title"] = "اطلاعات کاربری";
    Layout = "_UserProfileLayout";
}
<div class="row pb-50 mb-10">
    <div class="col-auto">

        <h1 class="text-24 lh-12 fw-700 ff-estedad">تنظیمات</h1>
        <div class="mt-10">در این بخش می توانید اطلاعات پروفایل خود را ویرایش کنید .</div>

    </div>
</div>


<div class="row y-gap-30">
    <div class="col-12">
        <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
            <div class="tabs -active-purple-2 js-tabs pt-0">
                <div class="tabs__controls d-flex x-gap-30 items-center pt-20 px-30 border-bottom-light js-tabs-controls">
                    <button class="tabs__button text-light-1 js-tabs-button text-nowrap is-active" data-tab-target=".-tab-item-1" type="button">
                        ویرایش پروفایل
                    </button>
                    <button class="tabs__button text-light-1 js-tabs-button text-nowrap" data-tab-target=".-tab-item-2" type="button">
                        رمزعبور
                    </button>
                </div>

                <div class="tabs__content py-30 px-30 js-tabs-content">
                    <div class="tabs__pane -tab-item-1 is-active">

                        <div class="border-top-light pt-30 mt-30">
                            <form action="#" class="contact-form row y-gap-30">
                                <input asp-for="Id" hidden />

                                <div class="col-md-6">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">نام</label>

                                    <input asp-for="FirstName" type="text">
                                </div>


                                <div class="col-md-6">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">نام خانوادگی</label>

                                    <input asp-for="LastName" type="text">
                                </div>


                                <div class="col-md-6">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">شماره تماس</label>

                                    <input asp-for="PhoneNumber" type="text" class="mobile">
                                </div>


                                <div class="col-md-6">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">ایمیل</label>

                                    <input asp-for="Email" type="text" class="email">
                                </div>


                                <div class="col-md-6">

                                    <label class="text-15 lh-1 fw-500 text-dark-1 mb-10">نام کاربری</label>

                                    <input type="text" asp-for="UserName" class="letterOnly">
                                </div>

                                <div class="col-12">
                                    <a href="javascript:void(0)" data-url="@Url.Action("UserSetting","UserProfile")" class="button -md -purple-1 text-white btn-userSetting">
                                        <i class="ti-check"></i>
                                        ثبت تغییرات
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>

                    @await Html.PartialAsync("_changePassword",new ChangePasswordDto());

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>

        
    </script>
}