@{
    ViewData["Title"] = "دوره های خریداری شده";
}
<section class="pt-5 container-fluid">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-3 col-md-3">
                
                @await Html.PartialAsync("_UserMenu")

            </div>

            <div class="col-lg-9 col-md-9 col-sm-12">

            </div>

        </div>

    </div>
</section>