@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <li class="login_click bg-red">
        <a href="javascript:void(0)" data-url="@Url.Action("Login","Account")" class="btn createItem">ورود</a>
    </li>
    <li class="login_click">
        <a href="javascript:void(0)" data-url="@Url.Action("Register","Account")" class="btn createItem">ثبت نام</a>
    </li>
}
