
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="FallLady" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>LearnUp - قالب HTML دوره آنلاین و آموزش</title>

    <link href="~/Content/css/base.css" rel="stylesheet">
    <link href="~/Content/css/template.css" rel="stylesheet">
</head>

<body class="red-skin rtl">
    @RenderBody()

    <script src="~/Content/js/base.js"></script>
    <script src="~/Content/js/home.js"></script>
    <script src="~/Content/js/template.js"></script>
</body>

<!-- Mirrored from themezhub.net/learnup-demo-2/learnup/home-10.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 01 Apr 2022 09:38:46 GMT -->
</html>