
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="~/Content/css/base.css" />
    <link rel="stylesheet" href="~/Content/css/template.css" />

    <link rel="shortcut icon" type="image/png" href="~/Content/Images/FallLady-logo.png" />
    <title>بانوی پاییز - @ViewBag.Title</title>
</head>

<header data-anim="fade" data-add-bg="bg-dark-1" class="header -type-1 js-header">


    <div class="header__container">
        <div class="row justify-between items-center">

            <div class="col-auto">
                <div class="header-left">

                    <div class="header__logo ">
                        <a data-barba asp-action="Index" asp-controller="Home" class="-dark-text-white">
                            <img src="~/Content/Images/FallLady-logo.png" height="50" width="50" alt="logo">
                            آموزشگاه بانوی پاییز
                        </a>
                    </div>
                </div>
            </div>


            @await Html.PartialAsync("_Menu")


            @await Html.PartialAsync("_Account")

        </div>
    </div>
</header>
<body class="preloader-visible" data-barba="wrapper">
    <!-- preloader start -->
    <div class="preloader js-preloader">
        <div class="preloader__bg"></div>
    </div>
    <!-- preloader end -->
    @RenderBody()



    @await Html.PartialAsync("_Footer")



    <!-- JavaScript -->
    <script src="~/Content/js/base.js"></script>
    <script src="~/Content/js/home.js"></script>
    <script src="~/Content/js/template.js"></script>
    <script src="https://files-de.rtl-theme.com/jsdemos/79df7d11747f944da7628dfc1c76f709661cfe8f.js?pid=261519"></script>
    @RenderSection("scripts",required: false)
</body>

</html>