
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="~/Content/css/base.css" />
    <link rel="stylesheet" href="~/Content/css/template.css" />

    <link rel="shortcut icon" type="image/png" href="~/Content/Images/FallLady-logo.png" />
    <title>بانوی پاییز - @ViewBag.Title</title>
</head>

<header data-anim="fade" data-add-bg="bg-dark-1" class="header -type-1 js-header">


    <div class="header__container">
        <div class="row justify-between items-center">

            <div class="col-auto">
                <div class="header-left">

                    <div class="header__logo ">
                        <a data-barba asp-action="Index" asp-area="" asp-controller="Home">
                            <img src="~/TemplateAssets/img/general/logo.svg" alt="logo">
                        </a>
                    </div>
                </div>
            </div>


            @await Html.PartialAsync("_Menu")


            @await Html.PartialAsync("_Account")

        </div>
    </div>
</header>
<body class="preloader-visible" data-barba="wrapper">
    <!-- preloader start -->
    <div class="preloader js-preloader">
        <div class="preloader__bg"></div>
    </div>
    <!-- preloader end -->
    @RenderBody()

    
        <footer class="footer -type-1 bg-dark-1 -green-links">
            <div class="container">
                <div class="py-30 border-top-light-15">
                    <div class="row justify-between items-center y-gap-20">
                        <div class="col-auto">
                            <div class="d-flex items-center h-100 text-white">
                                © 2022 کلیه حقوق این قالب متعلق به امیرکافی می باشد.
                            </div>
                        </div>

                        <div class="col-auto">
                            <div class="d-flex x-gap-20 y-gap-20 items-center flex-wrap">
                                <div>
                                    <div class="d-flex x-gap-15 text-white">
                                        <a href="help-center.html">پشتیبانی</a>
                                        <a href="terms.html">شرایط</a>
                                        <a href="terms.html">امنیت</a>
                                        <a href="terms.html">حریم خصوصی</a>
                                        <a href="terms.html">ضوابط</a>
                                    </div>
                                </div>

                                <div>
                                    <a href="#" class="button px-30 h-50 -dark-6 rounded-200 text-white">
                                        <i class="icon-worldwide text-20 ml-15"></i><span class="text-15">فارسی</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>



    <!-- JavaScript -->
    <script src="~/Content/js/base.js"></script>
    <script src="~/Content/js/template.js"></script>
    <script src="https://files-de.rtl-theme.com/jsdemos/79df7d11747f944da7628dfc1c76f709661cfe8f.js?pid=261519"></script>
</body>

</html>