@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul class="nav-menu">

    <li>
        <a href="#">خانه<span class="submenu-indicator"></span></a>
        <ul class="nav-dropdown nav-submenu">
            <li>
                <a href="#">نسخه های جدید<span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                    <li><a href="new-home-1.html">نسخه پیش فرض</a></li>
                    <li><a href="new-home-2.html">نسخه استاندارد</a></li>
                    <li><a href="new-home-3.html">نسخه کلاسیک</a></li>
                </ul>
            </li>
            <li><a href="index.html">خانه 1</a></li>
            <li><a href="home-2.html">خانه 2</a></li>
            <li><a href="home-3.html">خانه 3</a></li>
            <li><a href="home-4.html">خانه 4</a></li>
            <li><a href="home-5.html">خانه 5</a></li>
            <li><a href="home-6.html">خانه 6</a></li>
            <li><a href="home-7.html">خانه 7</a></li>
            <li><a href="home-8.html">خانه 8</a></li>
            <li><a href="home-9.html">خانه 9</a></li>
            <li><a href="home-10.html">خانه 10</a></li>
        </ul>
    </li>
    <li><a href="contact.html">تماس با ما</a></li>

</ul>
