@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa" dir="rtl" class="-dark-mode">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/Content/css/base.css" />
    <link rel="stylesheet" href="~/Content/css/template.css" />

    <link rel="shortcut icon" type="image/png" href="~/Content/Images/FallLady-logo.png" />
    <title>بانوی پاییز - پنل کاربری</title>
</head>

<body class="preloader-visible" data-barba="wrapper">
    <!-- preloader start -->
    <div class="preloader js-preloader">
        <div class="preloader__bg"></div>
    </div>
    <!-- preloader end -->
    <!-- barba container start -->
    <div class="barba-container" data-barba="container">


        <main class="main-content">

            <header class="header -dashboard -dark-bg-dark-1 js-header">
                <div class="header__container py-20 px-30">
                    <div class="row justify-between items-center">
                        <div class="col-auto">
                            <div class="d-flex items-center">
                                <div class="header__explore text-dark-1">
                                    <button class="d-flex items-center js-dashboard-home-9-sidebar-toggle">
                                        <i class="icon -dark-text-white icon-explore"></i>
                                    </button>
                                </div>

                                <div class="header__logo mr-30 md:mr-20">
                                    <a data-barba href="index.html">
                                        <img class="-light-d-none" src="~/Content/Images/FallLady-logo.png" width="50" height="50" alt="logo">
                                        <img class="-dark-d-none" src="~/Content/Images/FallLady-logo.png" width="50" height="50" alt="logo">
                                        آموزشگاه بانوی پاییز
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-auto">
                            <div class="d-flex items-center">
                                <div class="text-white d-flex items-center lg:d-none ml-15">
                                    <div class="relative">
                                        <a asp-action="Index" asp-area="" asp-controller="Home" class="d-flex items-center text-dark-1 mr-20">
                                            صفحه اصلی
                                        </a>
                                    </div>
                                </div>

                                <div class="d-flex items-center sm:d-none">
                                    <div class="relative">
                                        <button class="js-darkmode-toggle text-light-1 d-flex items-center justify-center size-50 rounded-16 -hover-dshb-header-light">
                                            <i class="text-24 icon icon-Daylight"></i>
                                        </button>
                                    </div>

                                    <div class="relative">
                                        <button data-maximize class="d-flex text-light-1 items-center justify-center size-50 rounded-16 -hover-dshb-header-light">
                                            <i class="text-24 icon icon-maximize"></i>
                                        </button>
                                    </div>


                                    <div class="relative ">
                                        <button class="d-flex items-center text-light-1 d-flex items-center justify-center size-50 rounded-16 -hover-dshb-header-light" data-el-toggle=".js-cart-toggle">
                                            <i class="text-20 icon icon-basket"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>


            <div class="content-wrapper js-content-wrapper">
                <div class="dashboard -home-9 js-dashboard-home-9">
                    @await Html.PartialAsync("_UserMenu")

                    <div class="dashboard__main">
                        <div class="dashboard__content bg-light-4">
                            
                            @RenderBody()

                        </div>

                        <footer class="footer -dashboard py-30">
                            <div class="row items-center justify-between">
                                <div class="col-auto">
                                    <div class="text-13 lh-1">© 2022 کلیه حقوق این قالب متعلق به AmirKafi می باشد.</div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </main>
        <aside class="sidebar-menu toggle-element js-msg-toggle js-dsbh-sidebar-menu">
            <div class="sidebar-menu__bg"></div>

            <div class="sidebar-menu__content scroll-bar-1 py-30 px-40 sm:py-25 sm:px-20 bg-white -dark-bg-dark-1">
                <div class="row items-center justify-between mb-30">
                    <div class="col-auto">
                        <div class="-sidebar-buttons">
                            <button data-sidebar-menu-button="messages" class="text-17 text-dark-1 fw-500 -is-button-active">
                                ارسال پیام
                            </button>

                            <button data-sidebar-menu-button="messages-2" data-sidebar-menu-target="messages" class="d-flex items-center text-17 text-dark-1 fw-500">
                                <i class="icon-chevron-right text-11 text-purple-1 ml-10"></i>
                                پیام ها
                            </button>

                            <button data-sidebar-menu-button="settings" data-sidebar-menu-target="messages" class="d-flex items-center text-17 text-dark-1 fw-500">
                                <i class="icon-chevron-right text-11 text-purple-1 ml-10"></i>
                                تنظیمات
                            </button>

                            <button data-sidebar-menu-button="contacts" data-sidebar-menu-target="messages" class="d-flex items-center text-17 text-dark-1 fw-500">
                                <i class="icon-chevron-right text-11 text-purple-1 ml-10"></i>
                                مخاطبین
                            </button>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="row x-gap-10">
                            <div class="col-auto">
                                <button data-sidebar-menu-target="settings" class="button -purple-3 text-purple-1 size-40 d-flex items-center justify-center rounded-full">
                                    <i class="icon-setting text-16"></i>
                                </button>
                            </div>
                            <div class="col-auto">
                                <button data-sidebar-menu-target="contacts" class="button -purple-3 text-purple-1 size-40 d-flex items-center justify-center rounded-full">
                                    <i class="icon-friend text-16"></i>
                                </button>
                            </div>
                            <div class="col-auto">
                                <button data-el-toggle=".js-msg-toggle" class="button -purple-3 text-purple-1 size-40 d-flex items-center justify-center rounded-full">
                                    <i class="icon-close text-14"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative js-menu-switch">
                    <div data-sidebar-menu-open="messages" class="sidebar-menu__item -sidebar-menu -sidebar-menu-opened">
                        <form class="search-field rounded-8 h-50" action="">
                            <input class="bg-light-3 pr-50" type="text" placeholder="جستجوی پیام">
                            <button class="" type="submit">
                                <i class="icon-search text-light-1 text-20"></i>
                            </button>
                        </form>

                        <div class="accordion -block text-left pt-20 js-accordion">

                            <div class="accordion__item border-light rounded-16">
                                <div class="accordion__button">
                                    <div class="accordion__icon size-30 -dark-bg-dark-2 ml-10">
                                        <div class="icon d-flex items-center justify-center">
                                            <span class="lh-1 fw-500">2</span>
                                        </div>
                                        <div class="icon d-flex items-center justify-center">
                                            <span class="lh-1 fw-500">2</span>
                                        </div>
                                    </div>
                                    <span class="text-15 fw-500 text-dark-1 pt-3">ستاره دار</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner pl-20 pr-20 pb-20">
                                        <div data-sidebar-menu-target="messages-2" class="row x-gap-10 y-gap-10 pointer">
                                            <div class="col-auto">
                                                <img src="~/TemplateAssets/img/dashboard/right-sidebar/messages/1.png" alt="image">
                                            </div>
                                            <div class="col text-right">
                                                <div class="text-15 lh-12 fw-500 text-dark-1 pt-8">علی محمدی</div>
                                                <div class="text-14 lh-1 mt-5"><span class="text-dark-1">شما:</span> سلام</div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="text-13 lh-12 pt-8">35 دقیقه قبل</div>
                                            </div>
                                        </div>

                                        <div data-sidebar-menu-target="messages-2" class="row x-gap-10 y-gap-10 pt-15 pointer">
                                            <div class="col-auto">
                                                <img src="~/TemplateAssets/img/dashboard/right-sidebar/messages/1.png" alt="image">
                                            </div>
                                            <div class="col text-right">
                                                <div class="text-15 lh-12 fw-500 text-dark-1 pt-8">علی محمدی</div>
                                                <div class="text-14 lh-1 mt-5"><span class="text-dark-1">شما:</span> سلام</div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="text-13 lh-12 pt-8">35 دقیقه قبل</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item border-light rounded-16">
                                <div class="accordion__button">
                                    <div class="accordion__icon size-30 -dark-bg-dark-2 ml-10">
                                        <div class="icon d-flex items-center justify-center">
                                            <span class="lh-1 fw-500">2</span>
                                        </div>
                                        <div class="icon d-flex items-center justify-center">
                                            <span class="lh-1 fw-500">2</span>
                                        </div>
                                    </div>
                                    <span class="text-15 fw-500 text-dark-1 pt-3">گروه</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner pl-20 pr-20 pb-20">
                                        <div data-sidebar-menu-target="messages-2" class="row x-gap-10 y-gap-10 pointer">
                                            <div class="col-auto">
                                                <img src="~/TemplateAssets/img/dashboard/right-sidebar/messages/1.png" alt="image">
                                            </div>
                                            <div class="col text-right">
                                                <div class="text-15 lh-12 fw-500 text-dark-1 pt-8">علی محمدی</div>
                                                <div class="text-14 lh-1 mt-5"><span class="text-dark-1">شما:</span> سلام</div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="text-13 lh-12 pt-8">35 دقیقه قبل</div>
                                            </div>
                                        </div>

                                        <div data-sidebar-menu-target="messages-2" class="row x-gap-10 y-gap-10 pt-15 pointer">
                                            <div class="col-auto">
                                                <img src="~/TemplateAssets/img/dashboard/right-sidebar/messages/1.png" alt="image">
                                            </div>
                                            <div class="col text-right">
                                                <div class="text-15 lh-12 fw-500 text-dark-1 pt-8">علی محمدی</div>
                                                <div class="text-14 lh-1 mt-5"><span class="text-dark-1">شما:</span> سلام</div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="text-13 lh-12 pt-8">35 دقیقه قبل</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item border-light rounded-16">
                                <div class="accordion__button">
                                    <div class="accordion__icon size-30 -dark-bg-dark-2 ml-10">
                                        <div class="icon d-flex items-center justify-center">
                                            <span class="lh-1 fw-500">2</span>
                                        </div>
                                        <div class="icon d-flex items-center justify-center">
                                            <span class="lh-1 fw-500">2</span>
                                        </div>
                                    </div>
                                    <span class="text-15 fw-500 text-dark-1 pt-3">خصوصی</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner pl-20 pr-20 pb-20">
                                        <div data-sidebar-menu-target="messages-2" class="row x-gap-10 y-gap-10 pointer">
                                            <div class="col-auto">
                                                <img src="~/TemplateAssets/img/dashboard/right-sidebar/messages/1.png" alt="image">
                                            </div>
                                            <div class="col text-right">
                                                <div class="text-15 lh-12 fw-500 text-dark-1 pt-8">علی محمدی</div>
                                                <div class="text-14 lh-1 mt-5"><span class="text-dark-1">شما:</span> سلام</div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="text-13 lh-12 pt-8">35 دقیقه قبل</div>
                                            </div>
                                        </div>

                                        <div data-sidebar-menu-target="messages-2" class="row x-gap-10 y-gap-10 pt-15 pointer">
                                            <div class="col-auto">
                                                <img src="~/TemplateAssets/img/dashboard/right-sidebar/messages/1.png" alt="image">
                                            </div>
                                            <div class="col text-right">
                                                <div class="text-15 lh-12 fw-500 text-dark-1 pt-8">علی محمدی</div>
                                                <div class="text-14 lh-1 mt-5"><span class="text-dark-1">شما:</span> سلام</div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="text-13 lh-12 pt-8">35 دقیقه قبل</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div data-sidebar-menu-open="messages-2" class="sidebar-menu__item -sidebar-menu">
                        <div class="row x-gap-10 y-gap-10">
                            <div class="col-auto">
                                <img src="~/TemplateAssets/img/dashboard/right-sidebar/messages-2/1.png" alt="image">
                            </div>
                            <div class="col">
                                <div class="text-15 lh-12 fw-500 text-dark-1 pt-8">علی صالحی</div>
                                <div class="text-14 lh-1 mt-5">آنلاین</div>
                            </div>
                        </div>

                        <div class="mt-20 pt-30 border-top-light">
                            <div class="row y-gap-20">
                                <div class="col-12">
                                    <div class="row x-gap-10 y-gap-10 items-center">
                                        <div class="col-auto">
                                            <img src="~/TemplateAssets/img/dashboard/right-sidebar/messages-2/2.png" alt="image">
                                        </div>
                                        <div class="col-auto">
                                            <div class="text-15 lh-12 fw-500 text-dark-1">سحر مرادی</div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="text-14 lh-1 mr-3">35 دقیقه قبل</div>
                                        </div>
                                    </div>
                                    <div class="bg-light-3 rounded-8 px-30 py-20 mt-15">
                                        چقدر احتمال دارد که شرکت ما را به دوستان و خانواده خود توصیه کنید؟
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="row x-gap-10 y-gap-10 items-center justify-end">
                                        <div class="col-auto">
                                            <div class="text-14 lh-1 mr-3">35 دقیقه قبل</div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="text-15 lh-12 fw-500 text-dark-1">شما</div>
                                        </div>
                                        <div class="col-auto">
                                            <img src="~/TemplateAssets/img/dashboard/right-sidebar/messages-2/3.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="text-right bg-light-7 -dark-bg-dark-2 text-purple-1 rounded-8 px-30 py-20 mt-15">
                                        چقدر احتمال دارد که شرکت ما را به دوستان و خانواده خود توصیه کنید؟
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="row x-gap-10 y-gap-10 items-center">
                                        <div class="col-auto">
                                            <img src="~/TemplateAssets/img/dashboard/right-sidebar/messages-2/3.png" alt="image">
                                        </div>
                                        <div class="col-auto">
                                            <div class="text-15 lh-12 fw-500 text-dark-1">شیما حسینی</div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="text-14 lh-1 mr-3">35 دقیقه قبل</div>
                                        </div>
                                    </div>
                                    <div class="bg-light-3 rounded-8 px-30 py-20 mt-15">
                                        باشه، متوجه شدم!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-30 pb-20">
                            <form class="contact-form row y-gap-20" action="">

                                <div class="col-12">

                                    <textarea placeholder="ارسال متن..." rows="7"></textarea>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="button -md -purple-1 text-white">ارسال</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div data-sidebar-menu-open="contacts" class="sidebar-menu__item -sidebar-menu">
                        <div class="tabs -pills js-tabs">
                            <div class="tabs__controls d-flex js-tabs-controls">

                                <button class="tabs__button px-15 py-8 rounded-8 text-dark-1 js-tabs-button is-active" data-tab-target=".-tab-item-1" type="button">مخاطبین</button>

                                <button class="tabs__button px-15 py-8 rounded-8 text-dark-1 js-tabs-button " data-tab-target=".-tab-item-2" type="button">ارسال تیکت</button>

                            </div>

                            <div class="tabs__content pt-30 js-tabs-content">

                                <div class="tabs__pane -tab-item-1 is-active">
                                    <div class="row x-gap-10 y-gap-10 items-center">
                                        <div class="col-auto">
                                            <img src="~/TemplateAssets/img/dashboard/right-sidebar/contacts/1.png" alt="image">
                                        </div>
                                        <div class="col-auto">
                                            <div class="text-15 lh-12 fw-500 text-dark-1">علی محمدی</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs__pane -tab-item-2 ">
                                    <div class="row x-gap-10 y-gap-10 items-center">
                                        <div class="col-auto">
                                            <img src="~/TemplateAssets/img/dashboard/right-sidebar/contacts/1.png" alt="image">
                                        </div>
                                        <div class="col-auto">
                                            <div class="text-15 lh-12 fw-500 text-dark-1">علی محمدی</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div data-sidebar-menu-open="settings" class="sidebar-menu__item -sidebar-menu">
                        <div class="text-17 text-dark-1 fw-500">خصوصی</div>
                        <div class="text-15 mt-5">می توانید افرادی را که می توانند به شما پیام ارسال کنند محدود کنید:</div>
                        <div class="mt-30">

                            <div class="form-radio d-flex items-center ">
                                <div class="radio">
                                    <input type="radio">
                                    <div class="radio__mark">
                                        <div class="radio__icon"></div>
                                    </div>
                                </div>
                                <div class="lh-1 text-13 text-dark-1 mr-12">فقط مخاطبین من</div>
                            </div>


                            <div class="form-radio d-flex items-center mt-15">
                                <div class="radio">
                                    <input type="radio">
                                    <div class="radio__mark">
                                        <div class="radio__icon"></div>
                                    </div>
                                </div>
                                <div class="lh-1 text-13 text-dark-1 mr-12">مخاطبین من و هر کسی که در دوره های من است</div>
                            </div>


                            <div class="form-radio d-flex items-center mt-15">
                                <div class="radio">
                                    <input type="radio">
                                    <div class="radio__mark">
                                        <div class="radio__icon"></div>
                                    </div>
                                </div>
                                <div class="lh-1 text-13 text-dark-1 mr-12">هر کسی که در سایت است</div>
                            </div>

                        </div>

                        <div class="text-17 text-dark-1 fw-500 mt-30 mb-30">تنظیمات اعلان</div>
                        <div class="form-switch d-flex items-center">
                            <div class="switch">
                                <input type="checkbox">
                                <span class="switch__slider"></span>
                            </div>
                            <div class="text-13 lh-1 text-dark-1 mr-10">ایمیل</div>
                        </div>

                        <div class="text-17 text-dark-1 fw-500 mt-30 mb-30">عمومی</div>
                        <div class="form-switch d-flex items-center">
                            <div class="switch">
                                <input type="checkbox">
                                <span class="switch__slider"></span>
                            </div>
                            <div class="text-13 lh-1 text-dark-1 mr-10">برای ارسال از enter استفاده کنید</div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>


    </div>
    <!-- barba container end -->
    <!-- JavaScript -->
    <script src="~/Content/js/base.js"></script>
    <script src="~/Content/js/home.js"></script>
    <script src="~/Content/js/template.js"></script>
    <script src="https://files-de.rtl-theme.com/jsdemos/79df7d11747f944da7628dfc1c76f709661cfe8f.js?pid=261519"></script>
    @RenderSection("scripts",false)
</body>

</html>