@model FallLady.Mood.Application.Contract.Dto.Users.UserLoginDto
@{
    ViewData["Title"] = "Login";
}


<!-- ========================== SignUp Elements ============================= -->

<div class="container">
    <div class="row justify-center items-center">
        <img src="~/Content/Images/login.png" style="max-width:25vh;max-height:25vh" />
        <div class="col-xl-12 col-lg-12">
            <div class="px-50 py-50 md:px-25 md:py-25 bg-white shadow-1 rounded-16">
                <h3 class="text-30 lh-13">ورود</h3>
                <form class="contact-form respondForm__form row y-gap-20 pt-30" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div class="col-12">
                        <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">نام کاربری</label>
                        <input type="text" name="UserName" placeholder="admin">
                    </div>
                    <div class="col-12">
                        <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">رمز عبور</label>
                        <input type="password" name="Password" placeholder="********">
                    </div>
                    <div class="col-12">
                        <button href="javascript:void(0)" data-url="@Url.Action("Login","Account")" class="button -md -green-1 text-dark-1 fw-500 w-1/1 btn-login">
                            ورود
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ========================== Login Elements ============================= -->
