@section Menu
    {
    @{
        Html.RenderPartial("_Menu");
    }
}
<div style="margin-top: 13%; display: flex; justify-content: center;" class="container-fluid py-4">
    <img src="~/Content/image/SPGC.png" class="loading-image" style="width: 200px; height: 180px; top: 100px;" />
</div>
