@{
    ViewData["Title"] = "صفحه اصلی";
}
@model FallLady.Mood.Application.Contract.Dto.HomeItemsDto

<main class="main-content">



    <div class="content-wrapper  js-content-wrapper">

        <section class="masthead -type-1 js-mouse-move-container">
            <div class="masthead__bg">
                <img src="~/TemplateAssets/img/home-1/hero/bg.png" alt="image">
            </div>

            <div class="container">
                <div data-anim-wrap class="row y-gap-30 justify-between items-end">
                    <div class="col-xl-6 col-lg-6 col-sm-10">
                        <div class="masthead__content">
                            <h1 data-anim-child="slide-up" class="masthead__title">
                                دانش در کنار تجربه ، از شما یک متخصص میسازد.
                            </h1>
                            <p data-anim-child="slide-up delay-1" class="masthead__text">
                                بانوی پاییز با تجربه ی ۲۰ ساله تدریس و تحصیل در زمینه طراحی دوخت و لباس و اجرای پروژه های کامل دوختی در اکثر رشته های صنایع پوشاک و تزیینات لباس ، با افتخار از شما دعوت میکند با دانش او همراه شوید و مهارت های جدید برای حرفه ای شدن را با بیانی ساده و تکنیکی ترین تدریس بیاموزید.
                            </p>
                        </div>
                    </div>

                    <div data-anim-child="slide-up delay-5" class="col-xl-6 col-lg-6">
                        <div class="masthead-image">
                            <div class="masthead-image__el1">
                                <img class="js-mouse-move masthead" data-move="40" src="~/Content/Images/sourcePic27.jpg" width="300" height="400" alt="image">
                            </div>

                            <div class="masthead-image__el2">
                                <img class="js-mouse-move masthead" data-move="70" src="~/Content/Images/SourcePic21.jpg" width="255" height="250" alt="image">
                            </div>

                            <div class="masthead-image__el3">
                                <img class="js-mouse-move masthead" data-move="40" src="~/Content/Images/SourcePic11.jpg" width="200" height="200" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <svg class="svg-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="svg-waves__parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" />
                    <use xlink:href="#gentle-wave" x="48" y="3" />
                    <use xlink:href="#gentle-wave" x="48" y="5" />
                    <use xlink:href="#gentle-wave" x="48" y="7" />
                </g>
            </svg>
        </section>

        @await Html.PartialAsync("_Courses", Model.Courses)

        <section class="layout-pt-lg layout-pb-lg bg-beige-1">
            <div data-anim-wrap class="container">
                <div class="row y-gap-30 justify-between items-center">
                    <div class="col-xl-5 col-lg-6 col-md-10 order-2 order-lg-1">
                        <div class="about-content">
                            <h2 data-anim-child="slide-up delay-1" class="about-content__title"> در زمان و مکانی که دوست دارید مهارت های جدید را <span>بیاموزید</span>.</h2>
                            <p data-anim-child="slide-up delay-2" class="about-content__text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                            <div data-anim-child="slide-up delay-3" class="y-gap-20 pt-30">

                                <div class="d-flex items-center">
                                    <div class="about-content-list__icon">
                                        <i class="icon" data-feather="check"></i>
                                    </div>
                                    <div class="about-content-list__title">نویسندگان حرفه ای</div>
                                </div>

                                <div class="d-flex items-center">
                                    <div class="about-content-list__icon">
                                        <i class="icon" data-feather="check"></i>
                                    </div>
                                    <div class="about-content-list__title">پیگیری آسان برنامه ی درسی</div>
                                </div>

                                <div class="d-flex items-center">
                                    <div class="about-content-list__icon">
                                        <i class="icon" data-feather="check"></i>
                                    </div>
                                    <div class="about-content-list__title">ارائه دوره های رایگان</div>
                                </div>

                                <div class="d-flex items-center">
                                    <div class="about-content-list__icon">
                                        <i class="icon" data-feather="check"></i>
                                    </div>
                                    <div class="about-content-list__title">ضمانت بازگشت وجه</div>
                                </div>

                            </div>

                            <div data-anim-child="slide-up delay-4" class="d-inline-block mt-30">
                                <a href="signup.html" class="button -md -dark-1 text-white">ثبت نام رایگان</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-5 col-lg-6 order-1 order-lg-2">
                        <div data-anim-child="slide-up delay-5" class="about-image">
                            <img src="~/Content/Images/SourcePic01.jpg" class="masthead" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="layout-pt-lg layout-pb-lg bg-dark-2">
            <div data-anim-wrap class="container">
                <div class="row justify-center text-center">
                    <div data-anim-child="slide-up delay-1" class="col-auto">

                        <div class="sectionTitle ">

                            <h2 class="sectionTitle__title text-white">چرا با دوره های ما یاد بگیرید؟</h2>

                            <p class="sectionTitle__text text-white">لورم ایپسوم متن ساختگی با تولید سادگی است.</p>

                        </div>

                    </div>
                </div>

                <div class="row y-gap-30 pt-50">

                    <div data-anim-child="slide-up delay-2" class="col-lg-4 col-md-6">
                        <div class="stepCard -type-1 -stepCard-hover">
                            <div class="stepCard__content">
                                <div class="stepCard__icon">
                                    <i class="icon-online-learning-4 text-64 text-green-1"></i>
                                </div>
                                <h4 class="stepCard__title">01. یادگیری</h4>
                                <p class="stepCard__text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                            </div>
                        </div>
                    </div>

                    <div data-anim-child="slide-up delay-3" class="col-lg-4 col-md-6">
                        <div class="stepCard -type-1 -stepCard-hover">
                            <div class="stepCard__content">
                                <div class="stepCard__icon">
                                    <i class="icon-graduation-1 text-64 text-green-1"></i>
                                </div>
                                <h4 class="stepCard__title">02. فارغ التحصیل</h4>
                                <p class="stepCard__text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                            </div>
                        </div>
                    </div>

                    <div data-anim-child="slide-up delay-4" class="col-lg-4 col-md-6">
                        <div class="stepCard -type-1 -stepCard-hover">
                            <div class="stepCard__content">
                                <div class="stepCard__icon">
                                    <i class="icon-working-at-home-2 text-64 text-green-1"></i>
                                </div>
                                <h4 class="stepCard__title">03. درآمدزایی</h4>
                                <p class="stepCard__text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</main>
